@charset "Shift_Jis";





/********************----CSS着せ替えテンプレートプロジェクト用CSS。[05]----********************/

/********************----CSS配布元：ple-plus[http://ple-plus.chips.jp/ ]----********************/



/********************全ての要素に対する指定********************/

*{

margin:0;/*余白0*/

padding:0;/*余白0*/

font-style:normal;/*フォントのスタイル*/

font-family:arial,osaka,"ＭＳ Ｐゴシック",sans-serif;/*フォント*/

font-size:100%;/*フォントサイズ調整*/

background-color:transparent;/*背景*/

}





/********************ページの指定********************/





hr {

display:none;/*水平線非表示*/

}





img{

border:none;/*画像の枠*/

}







/*****ページの指定*****/

html{

height:100%;/*高さ*/

}



body{

font-size:76%;/*文字サイズ*/

color:#000000;/*文字色*/

letter-spacing:0.2em;/*文字間*/

background:url("./img/liney.gif") repeat-y 260px #ffffff;/*背景色と左のライン*/

text-align:left;/*文字位置*/

height:100%;/*高さ*/

}







/********************リンクの指定********************/





a:link{

color:#384f67;

/*文字色*/

}



a:visited{

color:#384f67;

/*訪問済み文字色*/

}



a:hover{

text-decoration:none;/*カーソルが重なった時下線を消す*/

color:#303030;/*カーソルが重なった時文字色*/

}



a:active{

color:#ffffff;

/*瞬間リンク文字色*/

}





/********************レイアウトに関する指定********************/



#PAGETOP

{

height:100%;/*高さ*/

}









#HEADER

{

width:260px;/*幅*/

background:url("./img/top.jpg") no-repeat 28px 15px;/*背景*/

text-align:center;/*文字真ん中*/

}







/*****タイトル指定*****/

h1{

padding:130px 10px 150px 10px;/*余白*/

color:#a0a0a0;/*文字色*/

font-size:1.5em;/*文字サイズ*/

}





/*****パンくずリスト*****/

#PAN{

padding:0px 10px 5px 10px;/*余白*/

list-style-type:none;/*リストスタイル非表示*/

font-size:0.8em;/*文字サイズ*/

}



#PAN li{

list-style-type:none;/*リストスタイル非表示*/

display:inline;/*インライン*/

}





#PAN a{/**パンくずリストのリンク**/

background:url("./img/pan.gif") no-repeat 100% 50%;/*画像*/

padding-right:10px;/*余白*/

}



/**インデックスのみの指定**/

#INDEX #PAN li{ 

visibility:inline;/*非表示ですが、後のボックスはこれがあるものとして表示します。*/

}

/**インデックスのみの指定**/





/*****コンテンツメニュー*****/

#MENU h2{

display:none;/*非表示*/

}





#MENU {

width:230px;/*幅*/

}







#MENU ul{

list-style-type:none;/*リストスタイル非表示*/

margin-left:30px;/*余白*/

background:url("./img/linex.gif") repeat-x top;/*背景（メニューのはじまる一番上のライン）*/

}



#MENU li{

list-style-type:none;/*リストスタイル非表示*/

background:url("./img/linex.gif") repeat-x bottom;/*背景（下部のライン）*/

}



/*****コンテンツ部分のリンクスタイル*****/

#MENU a{

font-weight:bold;/*太字*/

text-decoration:none;/*下線の非表示*/

display:block;/*ブロックレベル*/

text-align:center;/*文字を真ん中に*/

padding:10px 0;/*余白*/

width:100%;/*幅（削除しない方が良い）*/

color:#384f67;/*文字色*/

font-size:0.9em;/*文字サイズ*/



}



#MENU a:visited{

color:#384f67;/*文字色*/

}





/*カーソルが重なった時文字色*/

#MENU a:hover{

background:url("./img/menu.gif") no-repeat 50% 50%;/*背景*/

color:#000000;/*文字色*/

}







/*今いるページのリンク表示*/

.menu-on a{

font-weight:bold;/*太字*/

background:url("./img/menuon.gif") no-repeat 50% 50%;/*背景*/

color:#000000;/*文字色*/

}





#MENU .menu-on a:visited{

color:#000000;/*文字色*/

}





/*****記事部分*****/



/*記事全体*/

#KIZI{

/*文章部分全体*/

position:absolute;/*絶対配置*/

left:270px;/*左からの位置*/

top:20px;/*上からの位置*/

width:500px;/*幅*/

height:100%;

background:url("./img/liney.gif") repeat-y 100%;/*背景右のライン*/

}



*>#KIZI{

/*IE以外に読み込ませる指定*/

min-height:100%;

height:auto;

}





/*見出し*/

h2{

padding:20px 0 0 30px;/*余白*/

background:url("./img/point.gif") no-repeat 0 100%;/*背景*/

color:#303030;/*文字色*/

margin:0 10px;/*余白*/

}



h3{

color:#384f67;/*文字色*/

padding:0.1em 0;/*余白*/

margin:0.2em 0;/*余白*/

background:url("./img/linex.gif") repeat-x bottom;/*背景（下部のライン）*/

}



/*見出し*/

h4,h5,h6{

color:#384f67;/*文字色*/

margin:0.2em 0;/*余白*/

padding:0 0.2em;/*余白*/

}





/*タイトル下文章のブロック*/

.text{

padding:0.5em 0.5em 0 0.5em;/*余白*/

line-height:1.8em;/*行間*/

padding-bottom:30px;/*余白*/

margin:0 16px;/*余白*/





}





/*文章部分段落*/

.text p{

margin-bottom:1.2em;/*余白*/

padding:0 0.8em;/*余白*/

}





/*ページ内（上への）リンク*/

.modori{

text-align:right;/*文字右寄せ*/

list-style-type:none;/*リストスタイル非表示*/

font-size:0.9em;/*文字真ん中*/

font-weight:bold;/*太字*/

}



.modori li{

list-style-type:none;/*リストスタイル非表示*/

}











/**********下部指定**********/

#FOOTER{

width:230px;/*幅*/

font-weight:bold;/*太字*/

padding-bottom:1em;/*余白*/

text-align:center;/*文字真ん中*/

}





#FOOTER ul{

margin-left:30px;/*余白*/

list-style-type:none;/*リストスタイル非表示*/

}



#FOOTER h2{

display:none;/*非表示*/

}



#FOOTER li{

list-style-type:none;/*リストスタイル非表示*/

background:url("./img/linex.gif") repeat-x bottom;/*背景（下部のライン）*/

}





#FOOTER a{

color:#384f67;/*文字色*/

text-decoration:none;/*リンクの下線を消す*/

padding:10px 0;/*余白*/

display:block;/*ブロックレベル*/

width:100%;/*幅（削除しない方が良い）*/

font-size:0.9em;/*文字サイズ*/

}





#FOOTER a:hover{

background:url("./img/menu.gif") no-repeat 50% 50%;/*背景*/

color:#000000;/*文字色*/

}



li#FOOTER01{

display:none;/*非表示*/

}

/********************その他指定********************/





/****定義リストスタイル****/

div.text dl{/*全体*/

margin-bottom:1em;/*余白*/

}



div.text dt{/*見出しになります*/

font-weight:bold;/*太字*/

color:#384f67;/*文字色*/

}



div.text dd{/*見出しの内容*/

margin-bottom:1em;/*余白*/

padding-left:10px;/*余白*/

}





/****強調****/

em{

color:#384f67;/*文字色*/

font-weight:bold;/*太字*/

}





/****さらに強い強調****/

strong{

color:#000000;/*文字色*/

border-bottom:double 3px #384f67;/*下にライン*/

}







/****追加文章****/

ins{

color:#000000;/*文字色*/

font-style:italic;/*文字斜体*/

}



/****打ち消し****/

del{

color:#808080;/*文字色*/

}





/****リスト****/

.text ol{

/*番号付*/

margin-left:30px;/*余白*/

margin-bottom:1em;/*余白*/

list-style-type:decimal;

}







.text ul{

/*通常のリスト*/

margin-left:20px;/*余白*/

margin-bottom:1em;/*余白*/

list-style-type:disc;/*●のスタイル*/

}





/****フォーム内のテキストエリア等****/

input,select,textarea{

border:solid 1px #303030;/*ライン*/

background:#ffffff;/*背景*/

color:#000000;/*文字色*/

margin-top:10px;/*余白*/

font-family:osaka,Verdana,"ＭＳ Ｐゴシック",sans-serif;/*フォント*/

}



#BUTTON{/*ボタン（ごめんなさい。余計なことして・汗。）嫌なら、文字色のみ残して削除してね*/

background:url("./img/menu.gif") no-repeat 50% 50%;/*背景*/

padding:12px 0;/*余白*/

border:0;/*ライン*/

color:#000000;/*文字色*/

}





textarea{

/*デザインや用途によって調整して下さい。*/

width:200px;/*テキストエリア幅*/

}