@charset "Shift_Jis";



/********************サンプル内には出てきません。********************/

/****引用文****/

blockquote{

/*ブロックレベル*/

background:#a0a0a0;

padding:20px 1em;

}





q{

/*インラインレベル）*/

font-style:italic;

border:solid 1px #a0a0a0;

padding:0 5px;

}





/****出典・参照先を表す****/

cite{

/*斜体文字*/

font-style:italic;

}



/****整形済みテキスト****/

pre{

font-family:monospace; 

background:#eeeeee;

white-space:normal;/*IE過去互換では意味無いみたい。使う場合はレイアウトが互換では崩れるかも*/

font-size:12px;

}







/********以下のタグを使用するよりも、スタイルシートで指定した方が良いでしょう。********/



b{

/*太字*/

font-weight:bold;

}





i{

/*斜体文字*/

font-style:italic;

}





big{

/*文字を大きく*/

font-size:1.5em;

}





small{

/*文字を小さく*/

font-size:0.8em;

}





tt {

/*文字を等幅に*/

font-family:monospace; 

}



